/* Bordered form */

form {
    border: 3px solid #f1f1f1;
    background-color: #FFBE7BFF;
}


table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: #FFA351FF;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px;
}


body {
    color: white;
    background-color: #EED971FF;

}

tr:nth-child(even) {
    background-color: #d37979;
}
.row {
  display: flex;
}
img {
  border-radius: 25px;
  border-radius: 4px;
  padding: 10px 50px;
 
    max-width: 100%;
  height: 95%;
}



.column {
  flex: 50%;
}
/* Full-width inputs */

input[type=text],
input[type=password],
select {
    border-radius: 25px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */

button {
    border-radius: 30px;
    background-color: #FFA351FF;
    color: white;
    padding: 14px 20px;
    margin: 40px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: x-large;
}


/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
}


/

/* Center the avatar image inside this container */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


/* Avatar image */

img.avatar {
    width: 40%;
    border-radius: 50%;
}


/* Add padding to containers */

.container {
    padding: 16px;
}


/* The "Forgot password" text */

span.psw {
    float: right;
    padding-top: 16px;
}
textarea{
    box-sizing: border-box;
    padding: 1px;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}